
@font-face{
    font-family:"basic";
    font-style:normal;
    src:url(../font/NotoSansKR-Regular.otf) format('opentype');
}


:root{
    --app-color: #dc5b16;
}

html, body{
    padding:0;
    margin:0;
    background:#fff;
    font-size:14px;
    font-family:basic;
}


header{
    height:60px;
    width:100%;
}

header > div.header{
    width:100%;
    height:100%;
    background: rgba(220, 91, 22, 0.47);
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}


header > div.header img{
    height:85%;
}

.logo{
    color: #dc5b16;
    font-weight: bold;
    font-size: large;
    margin-left: 30px;
}

.menu-item{
    color: #dc5b16;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    margin-right:20px;
}

a{
    color:#dc5b16;
    text-decoration: none;

}

.menu-item:hover{
    color:var(--app-color);
}



body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.teacherSignUp{
    box-sizing: border-box;
    background-color: #dc5b16;
    align-content: center;

}

.studentSignUp{
    box-sizing: border-box;
    background-color: #dc5b16;
    align-content: center;

}