<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="icon" href="./image/heart.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/login.css"/>
    <script src="https://kit.fontawesome.com/9299056aff.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="header">
            <span class="logo"> Talgiv </span>

            <div>
                <span class="menu-item"><th><a th:href="@{/}">Home</a></th></span>
                <span class="menu-item"><th><a th:href="@{/introduce}">Introduce</a></th></span>
                <span class="menu-item"><th><a th:href="@{/teacher}">Teacher</a></th></span>
                <span class="menu-item"><th><a th:href="@{/student}">Student</a></th></span>

            </div>
        </div>
    </header>

</body>

</html>