<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="icon" href="./image/heart.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/view.css"/>
    <script src="https://kit.fontawesome.com/9299056aff.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="header">
            <span class="logo"> Talgiv </span>

            <div>
                <span class="menu-item"><th><a th:href="@{/home}" style="font-size: 20px">Home</a></th></span>
                <span class="menu-item"><th><a th:href="@{/introduce}" style="font-size: 20px">Introduce</a></th></span>
                <span class="menu-item"><th><a th:href="@{/teacher}" style="font-size: 20px">Teacher</a></th></span>
                <span class="menu-item"><th><a th:href="@{/together}" style="font-size: 20px">Together</a></th></span>
                <span class="menu-item"><th><a th:href="@{/login}" style="font-size: 20px">Login</a></th></span>

            </div>
        </div>
    </header>

    <div class="top-container">
        <div class="row">
            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/beauty.jpg"/>
                    <span class="title-1"><th><a th:href="@{/static}">뷰티</a></th></span>
                    <span class="title-2">네일/메이크업/헤어</span>
                    <p>
                        뷰티관련 배움내용
                    </p>
                </div>
            </div>

            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/certification2.png"/>
                    <span class="title-1"><th><a th:href="@{/static}">자격증/시험</a></th></span>
                    <span class="title-2">공무원시험/공기업시험/한국사/기사자격증</span>
                    <p>
                        자격증/시험 배움내용
                    </p>
                </div>
            </div>

            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/barista.png"/>
                    <span class="title-1"><th><a th:href="@{/static}">음식/음료</a></th></span>
                    <span class="title-2">조리사/베이킹/커피</span>
                    <p>
                        음식/음료 배움내용
                    </p>
                </div>
            </div>

            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/arts.jpg"/>
                    <span class="title-1"><th><a th:href="@{/static}">예술</a></th></span>
                    <span class="title-2">음악/미술/연기/사진</span>
                    <p>
                        예술 배움내용
                    </p>
                </div>
            </div>

            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/programmer.jpg"/>
                    <span class="title-1"><th><a th:href="@{/static}">개발/디자인</a></th></span>
                    <span class="title-2">웹디자인/프론트엔드/백엔드</span>
                    <p>
                        개발/디자인 배움내용
                    </p>
                </div>
            </div>


            <div class="col-4" style="padding:14px;">
                <div class="info-card">
                    <img src="./image/language.jpg"/>
                    <span class="title-1"><th><a th:href="@{/static}">언어</a></th></span>
                    <span class="title-2">영어/일본어/중국어/스페인어/러시아어</span>
                    <p>
                        언어 배움내용
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>